<tr>
  <th>ID</th>
  <th>Project</th>
  <th>Description</th>
  <th>Remove</th>
  <th>Sample Clip</th>

</tr>

{{#each projects as |project|}}
  {{log project}}


      <tr data-id="{{project.id}}">
        <td data-id="{{project.id}}"> <small>{{ project.id }}</small></td>
        <td data-id="{{project.id}}"> <small>{{ project.name }}</small></td>
        <td data-id="{{project.id}}"> <small>{{ project.description }}</small></td>
        <td> <button type="submit" class="menu-buttons">Remove</button> </td>
        <td class="player-container"> <audio controls> <source src="https://dl.dropbox.com/s/c6ihwtuloi1sr3b/SPAKE_sample-1%20%5BR-Dulude%5D.mp3?dl=0" type="audio/mpeg"> </audio> </td>
      </tr>

{{/each}}
