<tr>
  <th>Project</th>
  <th>Description</th>

</tr>

{{#each projects as |project|}}
  {{log project}}


      <tr data-id="{{project.id}}">
        <td data-id="{{project.id}}"> <small>{{ project.id }}</small></td>
        <td data-id="{{project.id}}"> <small>{{ project.name }}</small></td>
        <td data-id="{{project.id}}"> <small>{{ project.description }}</small></td>
        <td> <button type="submit" class="btn btn-default delete-project-button">Remove</button> </td>
      </tr>

{{/each}}
